In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import matplotlib.pyplot as plt
import math
import time
from datetime import datetime
from sklearn.model_selection import cross_val_score,KFold
from sklearn.model_selection import  train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_validate, cross_val_predict
from pandas.plotting import scatter_matrix
from sklearn import preprocessing
%matplotlib inline

In [2]:
myData = pd.read_csv('data/baoding.csv')

In [3]:
myData

,Unnamed: 0,date,X,PM25,PM10,CO,NO2,SO2,O3,year,...,extremews,extremewswd,daylight,precipitation,avgp,maxp,minp,avggt,maxgt,mingt
0,1,2014-01-01,2.0,127.70,533.00,5200.0,78.84,61.4,30.00,2014,...,8.6,14,8.4,0.0,101300.0,101530.0,101120.0,1.0,21.4,-6.7
1,2,2014-01-02,3.0,305.50,463.40,5200.0,65.96,46.2,26.25,2014,...,4.8,11,6.2,0.0,101590.0,101840.0,101370.0,-0.8,15.1,-7.9
2,3,2014-01-03,4.0,279.50,394.90,3330.0,65.04,48.6,12.50,2014,...,9.2,4,7.6,0.0,101990.0,102310.0,101510.0,-1.9,16.2,-8.9
3,4,2014-01-04,5.0,247.50,437.00,3870.0,77.92,56.6,17.50,2014,...,6.8,2,6.8,0.0,102020.0,102380.0,101670.0,-1.9,14.8,-9.6
4,5,2014-01-05,6.0,273.50,363.40,3060.0,56.76,47.8,10.00,2014,...,5.7,3,7.2,0.0,102230.0,102430.0,101820.0,-3.2,15.3,-10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2672,2673,2021-04-26,2664.0,34.09,197.00,180.0,11.88,2.1,60.00,2021,...,7.3,8,8.5,NaN,101450.0,102060.0,101010.0,22.4,47.7,11.0
2673,2674,2021-04-27,2665.0,43.10,61.00,180.0,12.96,2.8,55.00,2021,...,12.8,14,6.9,0.0,101220.0,101360.0,100910.0,24.7,50.1,6.2
2674,2675,2021-04-28,2666.0,22.81,91.00,180.0,14.04,2.8,56.25,2021,...,11.7,12,12.6,0.0,101270.0,101700.0,100670.0,24.4,52.4,3.8
2675,2676,2021-04-29,2667.0,27.98,69.00,NaN,17.28,3.5,38.75,2021,...,16.4,16,10.2,0.0,100130.0,100690.0,99900.0,20.1,49.1,7.9
2676,2677,2021-04-30,2668.0,26.57,54.39,NaN,11.88,2.8,50.00,2021,...,14.0,2,4.9,NaN,100560.0,100900.0,100120.0,15.6,36.9,4.0

In [4]:
myData.columns

Index(['Unnamed: 0', 'date', 'X', 'PM25', 'PM10', 'CO', 'NO2', 'SO2', 'O3',
       'year', 'month', 'day', 'week', 'season', 'covid', 'city', 'region',
       'avgtemp', 'maxtemp', 'mintemp', 'avgrh', 'minrh', 'avgws', 'maxws',
       'maxwswd', 'extremews', 'extremewswd', 'daylight', 'precipitation',
       'avgp', 'maxp', 'minp', 'avggt', 'maxgt', 'mingt'],
      dtype='object')